project:
  type: book
  output-dir: docs

book:
  title: "Introduction to R for Clinical Psychology"
  author: "Christopher J Wilson"
  date: "13/06/2024"
  chapters:
    - index.qmd
    - intro.qmd
    - working_with_data.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt

editor: visual

